.options-panel {
    background: #fff;
    position: absolute;
    z-index: 1000;
    right: -100%;
    transition: right 0.3s ease-in-out;
    top: 50px;
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.options-panel.open {
    right: 0;
}

.section {
    padding: 15px;
}

.section > .title {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebe8e8;
}

.hamburger {
    position: fixed;
    top: 55px;
    right: 10px;
    z-index: 1500;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
    background: #ebe8e8;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.hamburger.is-active {
    right: 360px;
    color: white;
    background: black;
}

.font-preview {
    border: 2px solid #20ff48;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.fonts-dropdown-menu {
    max-height: 400px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fonts-dropdown-menu>div {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 1px solid lightgrey;
}

.fonts-dropdown-menu>div:hover {
    background: #b9b9b9;
    color: white;
}